body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #000;
}

iframe {}